header {
    border-bottom : solid black;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: bisque;
    padding-top: 70px;
    text-transform: uppercase;
    text-decoration: black;
    text-decoration: solid;
    font-size: 300%;
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.706), rgba(255, 255, 255, 0.719) ),
    url('imagenes/interrogante.jpg');
    text-align: center;
    image-orientation: from-image;
   
}

#definiciones{
    background-color: aliceblue;
    border: solid black;
    height: auto;
    width: 80%;
    background-image:linear-gradient(to bottom, #ffffff80, rgba(255, 255, 255, 0.5)),
    url('imagenes/diccionario.jpg');
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
#tablaindice{
    border: solid black;
    background-color: coral;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}
aside{
    text-align: right;
    margin-left: 200 px;
    border: solid black;
    width: 10%;
    float: right;
    padding-top: 600px;
    text-align: center;
    background-color: white;
    height: 1850px;
    font-size: medium;
    position: sticky;

}

#formulario{
    border: solid black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: coral;
}
#conspiracioneshistoricas{
    font-family: Arial, Helvetica, sans-serif;
}
