body{
    font-family: verdana, helvetica;
    font-weight: bold;
    background-color: gray;
 }
 
 #nav{
    width: 155px;
 }
 
 .titulonav{   
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    font-size: 8pt;
    font-weight: bold;
    background-color: #999999;
    color: #ffffff;
    padding: 4px;
 }
 
 .cuerporec{
    margin-top: 4px;
    margin-right: 0pt;
    margin-bottom: 10px;
    margin-left: 0pt;
 }
 
 .cuerporec ul{
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 0pt;
    padding-right: 0pt;
    padding-bottom: 0pt;
    padding-left: 1px;
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
 }
 
 .cuerporec li{
    border-width: 1px;
    border-style: solid;
    border-color: #d7d7d7;
    padding: 1px 0 2px 2px;
    font-size: 8pt;
    padding-bottom: 2px;
    margin-top: 2px;
    margin-right: 0pt;
    margin-bottom: 2px;
    margin-left: 0pt;
    background-image: url(fondo_gris.gif);
 }
 
 .cuerporec a{
    text-decoration: none;
 } 
 h1 {
        text-align: left; 
        font-family: Arial Black; 
        font-weight: bold; font-size: 30px; 
        background: #202020; 
        -webkit-background-clip: text; 
        -moz-background-clip: text; 
        background-clip: text; 
        color: transparent; 
        text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
        text-align: center;
        font-size: xx-large;
        padding-top: 100px;
        margin-bottom: 200px;
     }