body{
    font-family: verdana, helvetica;
    font-weight: bold;
    background-color: gray;
 }
 
 #nav{
    width: 155px;
 }
 
 .titulonav{   
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    font-size: 8pt;
    font-weight: bold;
    background-color: #999999;
    color: #ffffff;
    padding: 4px;
 }
 
 .cuerporec{
    margin-top: 4px;
    margin-right: 0pt;
    margin-bottom: 10px;
    margin-left: 0pt;
 }
 
 .cuerporec ul{
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    padding-top: 0pt;
    padding-right: 0pt;
    padding-bottom: 0pt;
    padding-left: 1px;
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
 }
 
 .cuerporec li{
    border-width: 1px;
    border-style: solid;
    border-color: #d7d7d7;
    padding: 1px 0 2px 2px;
    font-size: 8pt;
    padding-bottom: 2px;
    margin-top: 2px;
    margin-right: 0pt;
    margin-bottom: 2px;
    margin-left: 0pt;
    background-image: url(fondo_gris.gif);
 }
 
 .cuerporec a{
    text-decoration: none;
 } 
 h1 {
        text-align: left; 
        font-family: Arial Black; 
        font-weight: bold; font-size: 30px; 
        background: #202020; 
        -webkit-background-clip: text; 
        -moz-background-clip: text; 
        background-clip: text; 
        color: transparent; 
        text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
        text-align: center;
        font-size: xx-large;
        padding-top: 100px;
        margin-bottom: 200px;
     }
     #lista2 {
      counter-reset: li; 
      list-style: none; 
      *list-style: decimal; 
      font: 15px 'trebuchet MS', 'lucida sans';
      padding: 0;
      margin-bottom: 4em;
      text-shadow: 0 1px 0 rgba(255,255,255,.5);
  }
  
  #lista2 dl {
      margin: 0 0 0 2em; 
  }
  
  #lista2 dt{
      position: relative;
      display: block;
      padding: .4em .4em .4em 2em;
      *padding: .4em;
      margin: .5em 0;
      background: #ddd;
      color: #444;
      text-decoration: none;
      border-radius: .3em;
      transition: all .3s ease-out;   
  }
  
  #lista2 dd:hover{
      background: #eee;
  }
  
  #lista2 dt:hover:before{
      transform: rotate(360deg);  
  }
  
  #lista2 dt:before{
      content: counter(li);
      counter-increment: li;
      position: absolute; 
      left: -1.3em;
      top: 50%;
      margin-top: -1.3em;
      background: #87ceeb;
      height: 2em;
      width: 2em;
      line-height: 2em;
      border: .3em solid #fff;
      text-align: center;
      font-weight: bold;
      border-radius: 2em;
      transition: all .3s ease-out;
  }
  #definiciones {
     text-align: center;
   }

   fuente {
      text-align: center;
      position: absolute;
   }

.form{width:340px;height:440px;background:#e6e6e6;border-radius:8px;box-shadow:0 0 40px -10px #000;margin:calc(50vh - 800px) auto;padding:20px 30px;max-width:calc(100vw - 40px);box-sizing:border-box;font-family:'Montserrat',sans-serif;position:relative}
h2{margin:10px 0;padding-bottom:10px;width:180px;color:#78788c;border-bottom:3px solid #78788c}
input{width:100%;padding:10px;box-sizing:border-box;background:none;outline:none;resize:none;border:0;font-family:'Montserrat',sans-serif;transition:all .3s;border-bottom:2px solid #bebed2}
input:focus{border-bottom:2px solid #78788c}
p:before{content:attr(type);display:block;margin:28px 0 0;font-size:14px;color:#5a5a5a}
button{float:right;padding:8px 12px;margin:8px 0 0;font-family:'Montserrat',sans-serif;border:2px solid #78788c;background:0;color:#5a5a6e;cursor:pointer;transition:all .3s}
button:hover{background:#78788c;color:#fff}
      
table { font-family: “Lucida Sans Unicode”, “Lucida Grande”, Sans-Serif;
   font-size: 12px; margin-top: 200px; margin-left: 1000px; width: 480px;border-collapse: collapse; text-align: center; }
   
   th { font-size: 13px; font-weight: normal; padding: 8px; background: #b9c9fe;
   border-top: 4px solid #aabcfe; border-bottom: 1px solid #fff; color: #039; }
   
   td { padding: 8px; background: #e8edff; border-bottom: 1px solid #fff;
   color: #669; border-top: 1px solid transparent; }

#titulo {
   text-align-last: center;
   padding-top: 160px;
   font-size: xx-large;
   padding-bottom: -1rem;
}
   .cinta {
      position: relative;
      text-align: center;
      display: inline-block; *display: inline; zoom: 1;
      margin: 20px auto 10px;
      }
      .uno:before,
      .dos:before, .dos:after,
      .tres:before, .tres:after,
      .cuatro:before, .cuatro:after {
      content: "";
      display: block;
      width: 100px;
      height: 30px;
      position: relative;
      top: 20px;
      margin: auto;
      background: rgba(255,255,200,0.6);
      -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
      -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
      box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
      }
      /* Esto es sólo algo de estilo adicional para la imagen */
      .cinta img {
      display: inline-block; *display: inline; zoom: 1;
      border: 1px solid #ddd;
      margin: 0 20px;
      padding: 8px;
      background: #fff;
      text-align:center;
      vertical-align:top;
      -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
      -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
      box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
      }

      #titulo2 {
         text-align-last: center;
         padding-top: 160px;
         font-size: xx-large;
         padding-bottom: -1rem;
      }
      .cinta {
         position: relative;
         text-align: center;
         display: inline-block; *display: inline; zoom: 1;
         margin: 20px auto 10px;
         }
         .uno:before,
         .dos:before, .dos:after,
         .tres:before, .tres:after,
         .cuatro:before, .cuatro:after {
         content: "";
         display: block;
         width: 100px;
         height: 30px;
         position: relative;
         top: 20px;
         margin: auto;
         background: rgba(255,255,200,0.6);
         -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
         -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
         box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
         }
         /* Esto es sólo algo de estilo adicional para la imagen */
         .cinta img {
         display: inline-block; *display: inline; zoom: 1;
         border: 1px solid #ddd;
         margin: 0 20px;
         padding: 8px;
         background: #fff;
         text-align:center;
         vertical-align:top;
         -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
         -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
         box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
         }
         #titulo3 {
            text-align-last: center;
            padding-top: 160px;
            font-size: xx-large;
            padding-bottom: -1rem;
         }
         .cinta {
            position: relative;
            text-align: center;
            display: inline-block; *display: inline; zoom: 1;
            margin: 20px auto 10px;
            }
            .uno:before,
            .dos:before, .dos:after,
            .tres:before, .tres:after,
            .cuatro:before, .cuatro:after {
            content: "";
            display: block;
            width: 100px;
            height: 30px;
            position: relative;
            top: 20px;
            margin: auto;
            background: rgba(255,255,200,0.6);
            -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
            -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
            box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
            }
            /* Esto es sólo algo de estilo adicional para la imagen */
            .cinta img {
            display: inline-block; *display: inline; zoom: 1;
            border: 1px solid #ddd;
            margin: 0 20px;
            padding: 8px;
            background: #fff;
            text-align:center;
            vertical-align:top;
            -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
            -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
            box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
            }
            #lista1 {
               font-size: large;
               text-align: center;
               list-style-type: none;
               
            }
            #lista2 {
               font-size: large;
               text-align: center;
               list-style-type: none;
               
            }
            #lista3 {
               font-size: large;
               text-align: center;
               list-style-type: none;
               
            }



      



  